.cart-row{
    display: flex;    
    justify-content: space-around;
}

.cart-row td {
  padding: 16px;
  vertical-align: middle;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cart-item-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.cart-qty {
  text-align: center;
}

.qty-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}

.qty-btn:hover {
  background-color: #f2f2f2;
}

.qty-count {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
}

.cart-price p {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #ffa412;
}
