.restaurant-detail-page{
    display: flex;
    flex-direction: column;    
}

.banner{
    background-image: url('https://res.cloudinary.com/dfomcgwro/image/upload/v1770727141/Frame_279_onyjf2.png');
    background-size: cover;
    height: 200px;
    display: flex;
    padding: 20px 60px;
    color: #fff;
}

.banner-image{
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.banner-content{
    margin: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.banner-meta{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

.rating-box{
    display: flex;
    flex-direction:column ;
    align-items: start;
    gap: 10px;
}

.rating{
    display: flex;
    align-items: center;
    gap: 10px;
}

.divider{
    border: 1px solid #c5bfbf;
    height: 40px;
}

.cost-box{
    display: flex;
    flex-direction: column;
    align-items: start;

}
.cost{
    display: flex;
    align-items: center;
}

.food-list {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1100px;
  margin: 20px;
}

ul{
    list-style: none;
    padding: 0;
}

.restaurant-detail-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}