.carousel-container {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.offers-image {
  width: 100%;
  max-width: 1100px;
  height: 260px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  margin: 10px;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 50px;
}

.restaurant-container-header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
}

.sort-selection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  margin-block: 10px;
}

.sort-selection-container p {
  color: #9a9898;
}

.sort-by-option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  display: flex;
  align-items: center;
}

.search-input input {
  height: 40px;
  padding-inline: 10px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border: 2px solid #f7931e;
}

.search-icon {
  background-color: #f7931e;
  color: #fff;
  height: 40px;
  padding-inline: 10px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

hr{
  border: 1px solid #c6bfbf;  
  width: 1100px;
}

.restaurant-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
}

ul{
  padding: 0;
}
@media (max-width: 480px) {
  .offers-image {
    width: 100%;
    height: 150px;
  }

  .restaurant-container-header  .header{
    flex-direction: column;
    align-items: start;
    width: 460px;
    padding-inline: 20px;
  }

  .sort-selection-container{
    flex-direction: column;
    align-items: flex-start;
    width: 460px;    
  }

  .sort-selection-container p{
    width: 312px;
    text-align: start;
  }

  hr{
    display: none;
  }
}