.payment-success{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 90vh;
}

.payment-success h1{
    font-size: 24px;
    color: #1e293b;
}

.payment-success p{
    color: #64748b;
    text-align: center;
}

.home-btn{
    background-color: #f7931e;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}